<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.AirReleaseGroup">
<listAttribute key="ASSET_DIRECTORY_LIST">
<listEntry value="bin/icons"/>
<listEntry value="bin/help"/>
</listAttribute>
<listAttribute key="ASSET_FILE_LIST">
<listEntry value="bin/FlashPlayerSwitcher.swf &gt; FlashPlayerSwitcher.swf"/>
</listAttribute>
<stringAttribute key="CERTIFICATE_CHOOSEN" value="1"/>
<stringAttribute key="CERTIFICATE_COUNTRY" value="NL"/>
<booleanAttribute key="CERTIFICATE_DISABLE_TIMESTAMP" value="false"/>
<stringAttribute key="CERTIFICATE_KEY_TYPE" value="1"/>
<stringAttribute key="CERTIFICATE_NAME" value="FlashPlayerSwitcher"/>
<stringAttribute key="CERTIFICATE_O_NAME" value=""/>
<stringAttribute key="CERTIFICATE_O_UNIT" value=""/>
<stringAttribute key="CERTIFICATE_PASSWORD" value="switcher"/>
<stringAttribute key="CERTIFICATE_PATH" value="builders/FlashPlayerSwitcher.p12"/>
<stringAttribute key="CERTIFICATE_STORE_PASSWORD" value="switcher"/>
<stringAttribute key="DESCRIPTOR_PATH" value="bin/FlashPlayerSwitcher-app.xml"/>
<stringAttribute key="OUTPUT" value="release/FlashPlayerSwitcher.air"/>
<stringAttribute key="PROJECT_NAME" value="Flash Player Switcher"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
